<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikasi Email</title>
    <style>
        body {
            background: #f6f5f7;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            height: 100vh;
            margin: -20px 0 50px;
        }
        h1{
            font-weight: bold;
            margin: 0;
            text-align: center;            
        }
    </style>
</head>
<body>
    <h1>Silahkan Cek Email anda untuk Verifikasi Email -60s</h1>
</body>
</html>