</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="/user/index"> <img src="/logo.png" style="width : 60px; height: 50px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user/get_barang">Barang <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/toko">Toko</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/status">Status</a>
          </li>          
        </ul>          
        <form action="/user/saldo" class="form-inline my-2 my-lg-0">
          <button style="width: 80%; text-align:center;" class="btn btn-outline-dark"><i class="fas fa-wallet"></i> Saldo</button>                                                                                                                                                     
        </form>           
        <form action="/user/pembayaran" class="form-inline my-2 my-lg-0">
          <button style="width: 80%; text-align:center;" class="btn btn-outline-dark"><i class="fa fa-cash-register"></i> Bayar</button>                                                                                                                                                     
        </form>    
          <form action="/user/keranjang" class="form-inline my-2 my-lg-0">
            <button style="width: 80%; text-align:center;" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> Cart</button>                                                                                                                                                     
          </form>                                                          
          <form action="/user/profil" class="form-inline my-2 my-lg-0">
            <button style="width: 80%; text-align:center;" class="btn btn-outline-info"><i class="fa fa-address-card"></i> Profil</button>                                                                                                                                                     
          </form>                            
      </div>
    </nav>

    
    